/* src/css/framework.css */

/* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1140,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.72rem, 0.9862rem + -0.3736vw, 0.9115rem);
  --step--1: clamp(0.9rem, 1.1694rem + -0.378vw, 1.0938rem);
  --step-0: clamp(1.125rem, 1.3857rem + -0.3659vw, 1.3125rem);
  --step-1: clamp(1.4063rem, 1.6409rem + -0.3293vw, 1.575rem);
  --step-2: clamp(1.7578rem, 1.9416rem + -0.2579vw, 1.89rem);
  --step-3: clamp(2.1973rem, 2.2956rem + -0.138vw, 2.268rem);
  --step-4: clamp(2.7216rem, 2.7119rem + 0.0487vw, 2.7466rem);
  --step-5: clamp(3.2659rem, 3.2006rem + 0.3265vw, 3.4332rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,21,1.2,1140,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.7363rem + -0.2439vw, 0.6875rem);
  --space-xs: clamp(0.875rem, 1.0488rem + -0.2439vw, 1rem);
  --space-s: clamp(1.125rem, 1.3857rem + -0.3659vw, 1.3125rem);
  --space-m: clamp(1.6875rem, 2.122rem + -0.6098vw, 2rem);
  --space-l: clamp(2.25rem, 2.7713rem + -0.7317vw, 2.625rem);
  --space-xl: clamp(3.375rem, 4.157rem + -1.0976vw, 3.9375rem);
  --space-2xl: clamp(4.5rem, 5.5427rem + -1.4634vw, 5.25rem);
  --space-3xl: clamp(6.75rem, 8.314rem + -2.1951vw, 7.875rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2149rem + 0.4878vw, 0.5625rem);
  --space-2xs-xs: clamp(0.6875rem, 0.6143rem + 0.3659vw, 0.875rem);
  --space-xs-s: clamp(1rem, 0.9512rem + 0.2439vw, 1.125rem);
  --space-s-m: clamp(1.3125rem, 1.1662rem + 0.7317vw, 1.6875rem);
  --space-m-l: clamp(2rem, 1.9024rem + 0.4878vw, 2.25rem);
  --space-l-xl: clamp(2.625rem, 2.3323rem + 1.4634vw, 3.375rem);
  --space-xl-2xl: clamp(3.9375rem, 3.718rem + 1.0976vw, 4.5rem);
  --space-2xl-3xl: clamp(5.25rem, 4.6646rem + 2.9268vw, 6.75rem);

  /* Custom pairs */
  --space-s-l: clamp(1.3125rem, 0.9466rem + 1.8293vw, 2.25rem);
}

/* @link https://utopia.fyi/grid/calculator?c=320,21,1.2,1140,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --grid-max-width: 69.75rem;
  --grid-gutter: var(
    --space-s-l,
    clamp(1.3125rem, 0.9356rem + 1.8844vw, 2.25rem)
  );
  --grid-columns: 12;
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}

/* @link https://utopia.fyi/clamp/calculator?a=320,1140,16—48 */

:root {
  --fluid-16-48: clamp(1rem, 0.2195rem + 3.9024vw, 3rem);
}

.flow > * {
  margin-block: 0;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1.5rem);
  margin-top: var(--flow-space, 1em);
}

.flow > .hidden + * {
  margin-top: 0;
}
